.container{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

form {
    display: inline-block;
    width: 100%;
    text-align: -webkit-center;
}

form > div {
    width: 100%;
    text-align: left;
}

#divBtnSubmitClient {
    width: 25%;
}