.container {
    padding: 10px;
    width: 100%;
}

h1 {
    margin-left: 1%;
}

form {
    width: 100%;
    display: inline-block;
    text-align: -webkit-center;
    align-items: center;
    flex-wrap: wrap;
}

#label-left {
    text-align: left;
}

#divBtnSubmitClient {
    ext-align: right;
    width: 25%;
}

#btnSubmitClient {
    float: right;
    width: 24%;
}

section {
    float: left;
    width: 100%;
}