# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Este é um comentário
# Ignorar alvo no nível superior
/target/
# Ignorar targets dos projetos filhos também
/*target//
# E os netos ...
/*/*/target/
# Ou você pode fazer:
target/